<html>

<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
</head>

<body>
  <div id="includedContent"></div>
  <div class="container-xl px-4 mt-4">
    <div>
      {% if error_message %}
      <a href="#">
        <button type="button" class="btn btn-primary disabled" name='Checkout'>Checkout
        </button>
      </a>
      {% else %}
      <a href="{% url 'web:checkout'%}">
        <button type="button" class="btn btn-primary" name='Checkout'>Checkout
        </button>
      </a>
      {% endif %}
    </div>
    {% if error_message %}
    <div class="alert alert-primary" data-dismiss="alert">
      {{error_message}}
    </div>
    {% endif %}
    <table border="1" id="example" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Amount To Buy</th>
          <th>Detail</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for production in cart_production_list %}
        <tr>
          <td>{{ productionNameMap|get_item:production.production_id }}</td>
          <td>{{ production.amount }}</td>

          <td><a href="{% url 'web:production' slug=production.production_id %}">
              <button type="button" class="btn btn-primary">View Detail</button>
            </a>
          </td>
          <td>
            <a href="{% url 'web:delete_cart' slug=production.id %}">
              <button type="button" class="btn btn-danger" name='delete this goods'>Delete
              </button>
            </a>
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
</body>

</html>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
  $(function () {
    $("#includedContent").load("../public");
  });
  $(document).ready(function () {
    $('#example').DataTable();
  });
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">