<html>

<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script>
    $(function () {
      $("#includedContent").load("../public");
    });
  </script>
</head>

<body>
  <div id="includedContent"></div>
  <div class="container-xl px-4 mt-4">
    <div class="row">
      <div class="col-xl-8">
        <!-- Account details card-->
        <div class="card mb-4">
          <div class="card-header">Checkout
          </div>
          <div class="card-body">
            <form action="{% url 'web:checkout' %}" method="post">
              {% csrf_token %}
              {% if error_message %}
              <div class="alert alert-primary" data-dismiss="alert">
                {{error_message}}
              </div>
              {% endif %}
              <div class="row gx-3 mb-3">
                <!-- Form Group (organization name)-->
                <div class="col-md-6">
                  {{ checkout_form.x.label }}
                  {{ checkout_form.x }}
                </div>
                <!-- Form Group (location)-->
                <div class="col-md-6">
                  {{ checkout_form.y.label }}
                  {{ checkout_form.y }}
                </div>
              </div>
              <div class="row gx-3 mb-3">
                {{ checkout_form.upsAcc.label }}
                {{ checkout_form.upsAcc }}
              </div>
              <div>
                <a href="{% url 'web:cart' %}" type="button" class="btn btn-primary" name='Back'>Back
                  to Cart
                </a>
                <button type="submit" class="btn btn-primary" name='add_to_cart'>Place the order
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>