<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
</head>

<body>
  <div id="includedContent"></div>
  <div class="container-xl px-4 mt-4">
    <table border="1" id="example" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <!-- <th>Amount in stock</th> -->
          <th>Catalog</th>
          <th>Detail</th>
        </tr>
      </thead>
      <tbody>
        {% for production in production_list %}
        <tr>
          <td>{{ production.name }}</td>
          <td>{{ production.description }}</td>

          <!-- {% if production.name in production2amount %}
          <td>{{ production2amount|get_item:production.name }}</td>
          {% else %}
          <td>0</td>
          {% endif %} -->

          {% if production.catalog == 'F' %}
          <td>Food</td>
          {% else %}
          <td>Electronics</td>
          {% endif %}

          <td>
            <a href="{% url 'web:production' slug=production.id %}">
              <button type="button" class="btn btn-primary">View Detail</button>
            </a>
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
</body>

</html>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
  $(function () {
    $("#includedContent").load("../public");
  });
  $(document).ready(function () {
    $('#example').DataTable();
  });
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">