<html>

<head>
  <meta charset="UTF-8">
  <title>Order Page</title>
</head>

<body>
  <div id="includedContent"></div>
  <div class="container-xl px-4 mt-4">
    <table border="1" id="example" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>Order Id</th>
          <th>Address</th>
          <th>Ups Account</th>
          <th>Tracking Number</th>
          <th>Status</th>
          <th>Detail</th>
          <th>Rebind</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
        <tr>
          <td>{{order.id}}</td>
          <td>({{order.destX}}, {{order.destY}})</td>
          {% if order.upsAcc != "" and order.upsAcc_valid %}
          <td>{{order.upsAcc}} (verified)</td>
          {% elif order.upsAcc != "" and not order.upsAcc_valid %}
          <td>{{order.upsAcc}} (unverified)</td>
          {% else %}
          <td style="color:rgb(180, 180, 180)">not binded</td>
          {% endif %}
          {% if order.tracking_number != "" %}
          <td>{{order.tracking_number}}</td>
          {% else %}
          <td style="color:rgb(180, 180, 180)">not generated</td>
          {% endif %}
          <td>
            {% if order.status == "B" %}
            Order Placed
            {% elif order.status == "P" %}
            Packing
            {% elif order.status == "L" %}
            Loading
            {% elif order.status == "T" %}
            On the way
            {% else %}
            Delivered
            {% endif %}
          </td>
          <td><a href="{% url 'web:order_detail' slug=order.id %}">
              <button type="button" class="btn btn-primary">View Detail</button>
            </a>
          </td>
          <td>
            {% if order.status != "D" %}
            <a href="{% url 'web:rebind_ups' slug=order.id %}">
              <button type="button" class="btn btn-primary">Rebind UpsAcc</button>
            </a>
            {% else %}
            <a href="#">
              <button type="button" class="btn btn-primary disabled">Rebind UpsAcc</button>
            </a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
</body>

</html>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
  $(function () {
    $("#includedContent").load("../public");
  });
  $(document).ready(function () {
    $('#example').DataTable();
  });
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">