<html>

<head>
  <meta charset="UTF-8">
  <title>Order Detail Page</title>
</head>

<body>
  <div id="includedContent"></div>
  <div class="container-xl px-4 mt-4">
    <table border="1" id="example" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>Order Id</th>
          <th>Name</th>
          <th>Amount To Buy</th>
          <th>Detail</th>
        </tr>
      </thead>
      <tbody>
        {% for production in orderItems %}
        <tr>
          <td>{{ production.order_id }}</td>
          <td>{{ productionNameMap|get_item:production.production_id }}</td>
          <td>{{ production.amount }}</td>

          <td><a href="{% url 'web:production' slug=production.production_id %}">
              <button type="button" class="btn btn-primary">View Detail</button>
            </a>
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
</body>

</html>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
  $(function () {
    $("#includedContent").load("../public");
  });
  $(document).ready(function () {
    $('#example').DataTable();
  });
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">