<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
</head>

<body>
  <div id="includedContent"></div>

  <div class="container-xl px-4 mt-4">
    <div class="row">
      <div class="col-xl-8">
        <!-- Account details card-->
        <div class="card mb-4">
          <div class="card-header">Production Detail (You may add as much production as you want to the cart)
          </div>
          <div class="card-body">
            <form action="{% url 'web:production' slug=production.id %}" method="post">
              {% csrf_token %}
              {% if error_message %}
              <div class="alert alert-primary" data-dismiss="alert">
                {{error_message}}
              </div>
              {% endif %}
              <div class="row gx-3 mb-3">
                <!-- Form Group (organization name)-->
                <div class="col-md-6">
                  {{ production_form.name.label }}
                  {{ production_form.name }}
                </div>
                <!-- Form Group (location)-->
                <div class="col-md-6">
                  {{ production_form.description.label }}
                  {{ production_form.description }}
                </div>
              </div>
              <div class="row gx-3 mb-3">
                <!-- Form Group (organization name)-->
                <!-- <div class="col-md-6">
                  {{ production_form.amount.label }}
                  {{ production_form.amount }}
                </div> -->
                <!-- Form Group (location)-->
                <div class="col-md-6">
                  {{ production_form.amount_to_buy.label }}
                  {{ production_form.amount_to_buy }}
                </div>
              </div>
              <div>
                <a href="{% url 'web:index' %}" type="button" class="btn btn-primary" name='Back'>Back
                  Home
                </a>
                <button type="submit" class="btn btn-primary" name='add_to_cart'>Add to Cart
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
  $(function () {
    $("#includedContent").load("../public");
  });
  $(document).ready(function () {
    $('#example').DataTable();
  });
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">