<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">


<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="{% url 'web:index' %}">
      Amazon
    </a>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Welcome {{ request.session.name }}</a>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <div>
          <a href="{% url 'web:myorder' %}">
            <button type="button" class="btn btn-primary px-3 me-2">My Orders
            </button>
          </a>
        </div>
        <div>
          <a href="{% url 'web:cart' %}">
            <button type="button" class="btn btn-primary px-3 me-2">Shopping cart
            </button>
          </a>
        </div>
        <div>
          <a href="{% url 'web:logout' %}">
            <button type="button" class="btn btn-secondary px-3 me-2">Logout
            </button>
          </a>
        </div>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>