<html>

<head>
  <meta charset="UTF-8">
  <title>Order Detail Page</title>
</head>


<body>
  <div id="includedContent"></div>
  <div class="container-xl px-4 mt-4">
    <div class="row">
      <div class="col-xl-8">
        <!-- Account details card-->
        <div class="card mb-4">
          <div class="card-header">Rebind your ups account!
          </div>
          <div class="card-body">
            <form action="{% url 'web:rebind_ups' slug=order.id %}" method="post">
              {% csrf_token %}
              <div class="row gx-3 mb-3">
                {{ rebind_form.upsAcc.label }}
                {{ rebind_form.upsAcc }}
              </div>
              <div>
                <a href="{% url 'web:myorder' %}" type="button" class="btn btn-primary" name='Back'>Back
                  to my orders
                </a>
                <button type="submit" class="btn btn-primary" name='rebind'>Rebind
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
  $(function () {
    $("#includedContent").load("../public");
  });
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">